h2 {
    text-align: center;
    height: 54px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 490px) {
        height: 30px;
        padding: 5px 0 0;
    }

    &:hover {
        text-decoration: underline;
    }

    &.hide {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}


ul {
    padding-inline-start: 0;
    margin: 0;
}


.tasks-container__form-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    input[type="text"] {
        color: brown;
        outline: none;
        border: 2px solid rgb(149, 178, 197);
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 16px;
        height: 19px;
        opacity: 0.7;
    
        &:hover {
            border: 2px solid rgb(42, 177, 211);
            opacity: 1;
        }
    }

    &-warning {
        color: red;
        font-size: 16px;
        font-family: sans-serif;
        text-align: center;
        margin-top: -5px;
    }
}




// .warning {
//     color: brown;
//     font-size: 16px;
//     font-family: sans-serif;
//     background-color: #fff;
//     border: 1px solid brown;
//     border-radius: 5px;
//     position: absolute;
//     text-align: center;
//     padding: 5px;
//     transition: display 2.5s ease;
// }
// .close_warning {
//     display: none;
// }
// .open_warning {
//     display: block;
//     z-index: 3;
// }
// .task_warning {
//     top: 36px;
//     left: 5px;
// }
// .emptyStr_warning {
//     top: 40px;
//     left: 30px;
// }
// .select_warning {
//     bottom: 17px;
//     left: -6px;
// }

// input[type="submit"] {
//     outline: none;
//     border: none;
//     background-color: rgb(22, 18, 18);
//     cursor: pointer;
//     border-radius: 0 5px 5px 0;
//     color: white;
//     font-size: 22px;
//     position: relative;
//     opacity: 0.8;

//     &:hover {
//         opacity: 0.9;
//         color: rgb(42, 177, 211);;
//     }
// }