h2 {
    text-align: center;
    height: 54px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 490px) {
        height: 30px;
        padding: 5px 0 0;
    }

    &:hover {
        text-decoration: underline;
    }

    &.hide {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}


ul {
    padding-inline-start: 0;
    margin: 0;
}


.tasks-container__form-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    input[type="text"] {
        color: brown;
        outline: none;
        border: 2px solid rgb(149, 178, 197);
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 16px;
        height: 19px;
        opacity: 0.7;
    
        &:hover {
            border: 2px solid rgb(42, 177, 211);
            opacity: 1;
        }
    }

    &-warning {
        color: red;
        font-size: 16px;
        font-family: sans-serif;
        text-align: center;
        margin-top: -5px;
    }
}
