.tasks {
    width: 90%;
    max-width: 1500px;
    margin: 40px auto 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 490px) {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    &-header {
        text-align: center;
        // height: 35px;
        padding: 5px 0 5px;

        a {
            color: #2292c1;
            font-size: 12px;
            text-align: right;
            display: inline-block;
            width: 100%;
            &:hover {
                text-decoration: none;
            }

            span {
                margin-right: 20px;
            }
        }

        h1 {
            color: rgb(16, 76, 90);
            min-width: 298px;
            margin: 0;
        }
    }

    &-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

        &-col {
            display: flex;
            justify-content: space-evenly;
            margin: 10px;
            width: 100%;

            &-unImportant, &-important, &-veryImportant {
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                    li:hover {
                        background-color: #ffffff;
                    }
                }
            }

            &-unImportant {
                color: darkgreen;
                li {
                    background-color: #f3faf0;
                }
            }

            &-important {
                color: goldenrod;
                li {
                    background-color: #ffffe9;
                    
                }
            }
            
            &-veryImportant {
                color: darkred;
                li {
                    background-color: #fef1f1;
                }
            }
        }   
    }

    /* media */
    /* Landscape phones and smaller */
    @media screen and (max-width: 490px) {

        &-header {
            width: 100%;
            text-align: center;
            background-color: #eefbff;
            position: fixed;
            z-index: 99;

            h1 {
                margin: 0 auto;
                padding: 0;
            }
        }
        &-container{
            padding-top: 67px;
            align-items: center;

            &-col {
                flex-direction: column-reverse;
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 0;

                &-unImportant, &-important, &-veryImportant {
                    margin: 3px;
                    border: 1px solid transparent;
                    border-radius: 5px;
                }

                &-unImportant {
                    background-color: darkseagreen;
                }    
                &-important {
                    background-color: khaki;
                } 
                &-veryImportant {
                    background-color: lightsalmon;
                }

                li {
                    margin: 10px;
                }                
            }

            &__form-container {
                margin: 10px;
            }
        }

    }
}


